<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/assignment1_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a list
flowers=['rose','lilly','jasmine','tulip']
print(flowers)
print(type(flowers))

['rose', 'lilly', 'jasmine', 'tulip']
<class 'list'>

In [ ]:
#finding length of the list
flowers=['rose','lilly','jasmine','tulip']
print(len(flowers))

4

## ACCESSING LIST ITEMS.

In [ ]:
#printing the element in the list
flowers=['rose','lilly','jasmine','tulip']
print(flowers[2])

jasmine

In [ ]:
#printing the element in the list using negative index
flowers=['rose','lilly','jasmine','tulip']
print(flowers[-3])

lilly

In [ ]:
#Range of Indexes
flowers=['rose','lilly','jasmine','tulip']
print(flowers[0:4])

['rose', 'lilly', 'jasmine', 'tulip']

In [ ]:
#printing from the given index to the end
flowers=['rose','lilly','jasmine','tulip']
print(flowers[1:])

['lilly', 'jasmine', 'tulip']

In [ ]:
#printing from the start till the given ending position
flowers=['rose','lilly','jasmine','tulip']
print(flowers[:3])

['rose', 'lilly', 'jasmine']

In [ ]:
#printing the list using negative indexes
flowers=['rose','lilly','jasmine','tulip']
print(flowers[-3:-1])

['lilly', 'jasmine']

In [ ]:
#checking if an element is present in the list
flowers=['rose','lilly','jasmine','tulip']
if 'rose' in flowers:
  print('rose is present in the flowers')

rose is present in the flowers

## *CHANGE LIST ITEMS*

In [18]:
#changing the given element with the other element in the list
flowers=['rose','lilly','jasmine','tulip']
flowers[2]='marigold'
print(flowers)

['rose', 'lilly', 'marigold', 'tulip']

In [19]:
#changing the range of elements with the other elements in the list
flowers=['rose','lilly','jasmine','tulip']
flowers[0:2]='iris','lotus','sunflower'
print(flowers)

['iris', 'lotus', 'sunflower', 'jasmine', 'tulip']

In [20]:
#changing the range of elements with the other elements in the list
flowers=['rose','lilly','jasmine','tulip']
flowers[1:2]='lotus','sunflower'
print(flowers)

['rose', 'lotus', 'sunflower', 'jasmine', 'tulip']

## *ADD LIST ITEMS*

In [22]:
#inserting an element in the list
flowers=['rose','lilly','jasmine','tulip']
flowers.append('rufflesia')
print(flowers)

['rose', 'lilly', 'jasmine', 'tulip', 'rufflesia']

In [23]:
#inserting an element in the list at a particular index
flowers=['rose','lilly','jasmine','tulip']
flowers.insert(2,'lotus')
print(flowers)

['rose', 'lilly', 'lotus', 'jasmine', 'tulip']

In [25]:
#extend list
flowers=['rose','lilly','jasmine','tulip']
newlist=['marigold','iris','sunflower','daisy']
flowers.extend(newlist)
print(flowers)

['rose', 'lilly', 'jasmine', 'tulip', 'marigold', 'iris', 'sunflower', 'daisy']

# *REMOVE LIST ITEMS*

In [27]:
#removing a specific item using remove
flowers=['rose','lilly','jasmine','tulip']
flowers.remove('lilly')
print(flowers)

['rose', 'jasmine', 'tulip']

In [28]:
#removing a specific item using pop
flowers=['rose','lilly','jasmine','tulip']
flowers.pop(2)
print(flowers)

['rose', 'lilly', 'tulip']

In [1]:
#removing a specific item using del
flowers=['rose','lilly','jasmine','tulip']
del flowers[0]
print(flowers)

['lilly', 'jasmine', 'tulip']

In [5]:
#clearing the whole list
flowers=['rose','lilly','jasmine','tulip']
flowers.clear()
print(flowers)

[]

# *LOOPS*

In [6]:
#for loop
flowers=['rose','lilly','jasmine','tulip']
for x in flowers:
  print(x)

rose
lilly
jasmine
tulip

In [8]:
#for loop
flowers=['rose','lilly','jasmine','tulip']
for x in range(len(flowers)):
  print(flowers[x])

rose
lilly
jasmine
tulip

In [11]:
#while loop
flowers=['rose','lilly','jasmine','tulip']
i=0
while i<len(flowers):
  print(flowers[i])
  i+=1

rose
lilly
jasmine
tulip

# *LOOPING USING* *COMPREHENSION*

In [12]:
#using list comprehension instead of loops
flowers=['rose','lilly','jasmine','tulip']
[print(x) for x in flowers]

rose
lilly
jasmine
tulip

[None, None, None, None]

In [15]:
#finding all the elements with the given starting letter and creating a list
flowers=['rose','lilly','jasmine','tulip','rufflesia']
newlist=[x for x in flowers if 'r' in x]
print(newlist)

['rose', 'rufflesia']