<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *FUNCTIONS*

In [ ]:
#creating and calling a function
def my_name():
  print('Keerti')                        #no argument and no return value
my_name()

Keerti

In [ ]:
#arguments
def greeting(name):
  print('Hello',name+'.')

greeting('Keerti')
greeting('Yasaswi')
greeting('Family')

Hello Keerti.
Hello Yasaswi.
Hello Family.

In [ ]:
#number of arguments
def sen(Istword, Sndword, Trdword):
  print("Hello", Istword +',',Sndword+'!!!!!',"Live strong and live" ,Trdword+'.')             
sen('Buddiesssss',"What's up",'happy')                                               #with argument without return

Hello Buddiesssss, What's up!!!!! Live strong and live happy.

In [ ]:
#arbitrary arguments *args

def grade(*students):
  print(students[3], "got highest grade among the school")
grade('christina','Bhattacharya','Emile','Varun','aishwarya','Julie')

Varun got highest grade among the school

In [ ]:
#with argument and without return
def vote(name,age,gender):
  print("name of the person is:",name)
  print("age of the person is:",age)
  print("gender of the person is:",gender)
  if age>=18:
       print("eligible for voting")
  else:
       print("not eligible for voting")
vote('Keerti',17,'female')

name of the person is: Keerti
age of the person is: 17
gender of the person is: female
not eligible for voting

In [21]:
#with argument with return
def eligibility(age):
    if age>=18:
        return 'eligible'
    else:
        return 'not eligible'
print(eligibility(15))
print(eligibility(60))
print(eligibility(6))

not eligible
eligible
not eligible

In [3]:
#Keyword Arguments
def students(stu1,stu2,stu3,stu4):
  print("The brightest student among all is:"+stu3)
  
students(stu1='abc',stu2='def',stu3='ghi',stu4='qrs')

The brightest student among all is:ghi

In [4]:
#Arbitrary Keyword Arguments, **kwargs
def fruits(**fruit):
  print("I like " + fruit['fruit2'] + " the most")
fruits(fruit1='apple',fruit2='mango',fruit3='banana')

I like mango the most

In [5]:
#Default Parameter Value
def flower(flo='abc'):
  print(flo + " flowers are the most beautiful.")
flower('rose')
flower('lilly')
flower()
flower('tulip')

rose flowers are the most beautiful.
lilly flowers are the most beautiful.
abc flowers are the most beautiful.
tulip flowers are the most beautiful.

In [6]:
#Passing a List as an Argument
def a_fun(letters):
  for i in letters:
    print(i)
flowers=['rose','tulip','lilly','marigold']
a_fun(flowers)

rose
tulip
lilly
marigold

In [17]:
#Return Values
def voting(age=9):
  if age>=18:
    return 'eligible for voting'
  else:
    return 'not eligible for voting'
print(voting(age=19))
print(voting())
print(voting(15))

eligible for voting
not eligible for voting
not eligible for voting

In [18]:
#The pass Statement
def my_fun():                     # having an empty function definition like this, would raise an error without the pass statement
  pass

In [27]:
#recursion
def no_of_fruits(i):
 if i>0:
   result= i + no_of_fruits(i-1)
   print(result)
 else:
   result=0
 return result
no_of_fruits(6)

1
3
6
10
15
21

21