<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *MODULE - 2 PROGRAMS*

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def fact(i):
  if i>0:
    return i*fact(i-1)
  else:
    return 1
def comb(n,r):
  return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=5
b=3

10.0

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
my_list=['Red','Green','White','Black','Pink','Yellow']
del my_list[0]
del my_list[3]
del my_list[3]
print(my_list)

['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists.
one_list=[1,4,2,4,2,5,7,5,7,8,4,3,5]
other_list=[3,4,5,3,6,3,7,9,2]
x=set(one_list)
y=set(other_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[8, 1]
[9, 6]

In [ ]:
#Program to find the second smallest number and second largest number in a list
my_list=[4,2,6,1,8,46,987,236,54]
my_list.sort()
print(my_list)
print("The second smallest number in the given list is: ",my_list[1])
print("The second largest number in the given list is: ",my_list[len(my_list)-2])

[1, 2, 4, 6, 8, 46, 54, 236, 987]
The second smallest number in the given list is:  2
The second largest number in the given list is:  236

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
  if len(x)!=K:
    new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number.
no_list=[3,86,4,56,12]
result=[(x,x**2) for x in no_list]
print("The required list is: ",result)

The required list is:  [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number.
no_list=[3,86,4,56,12]
new_list=[]
for i in no_list:
  y=(i,i**2)
  new_list.append(y)
print("The required list is:",new_list)

The required list is: [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
my_dictionary=dict()
x=int(input("Enter a number: "))
for i in range(1,x+1):
  my_dictionary.update({i:i**2})
print("The obtained dictionary is:",my_dictionary)

Enter a number: 6
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# Program to remove a key from a dictionary
chocolate={
    'name':'dairymilk',
    'colour':'brown',
    'taste':'sweet',
    'cost':40
}
chocolate.pop('taste')
print(chocolate)
del chocolate['cost']
print(chocolate)

{'name': 'dairymilk', 'colour': 'brown', 'cost': 40}
{'name': 'dairymilk', 'colour': 'brown'}

In [ ]:
#Program to get the maximum and minimum value in a dictionary.
my_dictionary={
    'a':56, 'b':65, 'c':34, 'd':23
  }
max_value=max(my_dictionary, key=my_dictionary.get)
min_value=min(my_dictionary, key=my_dictionary.get)
print("The maximum value in the given dictionary has a key: '"+max_value+"' and its value is:",my_dictionary[max_value])
print("The minimum value in the given dictionary has a key: '"+min_value+"' and its value is:",my_dictionary[min_value])

The maximum value in the given dictionary has a key: 'b' and its value is: 65
The minimum value in the given dictionary has a key: 'd' and its value is: 23

In [16]:
#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
string=input("enter a string: ")
print(string.split())
print(string[4:19])

enter a string: python is the easiest programming language and it is a backend language
['python', 'is', 'the', 'easiest', 'programming', 'language', 'and', 'it', 'is', 'a', 'backend', 'language']
on is the easie

In [ ]:
#Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

In [ ]:
#Program for replacing one substring by another For example - Rabbit - Replace 'bb' by 'cc'
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

In [ ]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
string="I Love my country INDIA and I respect it."
count_1=0
count_2=0
for i in string:
  if i.isupper():
    count_1+=1
  elif i.islower():
    count_2+=1
  else:
    pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  8
No.of lowercase alphabets are:  24

In [7]:
#Program to Acronym generator for any user input
string=input("enter some string:")
a=string.split()
for i in a:
  print(i[0],end='')

enter some string:RANDOM ACCESS MEMORY
RAM

In [15]:
# Program to count the number of strings where the string length is 2 or more and the first and last character are same
#from a given list of strings , Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
Sample_List = ['abc', 'xyz', 'aba', '1221','amma','24','in','cds2t54sc']
count=0
for i in Sample_List:
  if len(i)>=2:
    if i[0]==i[len(i)-1]:
      print(i)
      count+=1
print(count)

aba
1221
amma
cds2t54sc
4