<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *MODULE - 2 PROGRAMS*

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def fact(i):
  if i>0:
    return i*fact(i-1)
  else:
    return 1
def comb(n,r):
  return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=5
b=3

10.0

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
my_list=['Red','Green','White','Black','Pink','Yellow']
del my_list[0]
del my_list[3]
del my_list[3]
print(my_list)

['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists.
one_list=[1,4,2,4,2,5,7,5,7,8,4,3,5]
other_list=[3,4,5,3,6,3,7,9,2]
x=set(one_list)
y=set(other_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[8, 1]
[9, 6]

In [ ]:
#Program to find the second smallest number and second largest number in a list
my_list=[4,2,6,1,8,46,987,236,54]
my_list.sort()
print(my_list)
print("The second smallest number in the given list is: ",my_list[1])
print("The second largest number in the given list is: ",my_list[len(my_list)-2])

[1, 2, 4, 6, 8, 46, 54, 236, 987]
The second smallest number in the given list is:  2
The second largest number in the given list is:  236

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
  if len(x)!=K:
    new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number.
no_list=[3,86,4,56,12]
result=[(x,x**2) for x in no_list]
print("The required list is: ",result)

The required list is:  [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number.
no_list=[3,86,4,56,12]
new_list=[]
for i in no_list:
  y=(i,i**2)
  new_list.append(y)
print("The required list is:",new_list)

The required list is: [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
my_dictionary=dict()
x=int(input("Enter a number: "))
for i in range(1,x+1):
  my_dictionary.update({i:i**2})
print("The obtained dictionary is:",my_dictionary)

Enter a number: 6
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# Program to remove a key from a dictionary
chocolate={
    'name':'dairymilk',
    'colour':'brown',
    'taste':'sweet',
    'cost':40
}
chocolate.pop('taste')
print(chocolate)
del chocolate['cost']
print(chocolate)

{'name': 'dairymilk', 'colour': 'brown', 'cost': 40}
{'name': 'dairymilk', 'colour': 'brown'}