<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
print(fruits)

{'banana', 'cherry', 'watermelon', 'apple', 'kiwi'}

In [ ]:
fruits=('apple','banana','kiwi','watermelon','cherry','banana')
print(fruits)                     #duplicate values are neglected

('apple', 'banana', 'kiwi', 'watermelon', 'cherry', 'banana')

In [ ]:
fruits=('apple','banana','kiwi','watermelon','cherry')
print(len(fruits))

5

In [ ]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
flowers={'rose','jasmine','lilly'}
numbers={1,2,3,4}
boolean={True,False,True}
print(flowers)
print(fruits)
print(boolean)
print(numbers)

{'rose', 'jasmine', 'lilly'}
{'banana', 'cherry', 'watermelon', 'apple', 'kiwi'}
{False, True}
{1, 2, 3, 4}

In [1]:
#constructing a set
my_set=(('apple',123,'flower',True))
print(my_set)

('apple', 123, 'flower', True)

# *ACCESS SET ITEMS*

In [2]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
for i in fruits:
  print(i)

kiwi
watermelon
banana
cherry
apple

In [4]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
print('kiwi' in fruits)
print('mango' in fruits)

True
False

# *ADD ITEMS*

In [8]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
fruits.add('mango')
print(fruits)

{'mango', 'kiwi', 'watermelon', 'banana', 'cherry', 'apple'}

In [10]:
#update
fruits={'apple','banana','kiwi','watermelon','cherry'}
add={'mango','date','papaya'}
fruits.update(add)
print(fruits)

{'papaya', 'mango', 'kiwi', 'watermelon', 'date', 'banana', 'cherry', 'apple'}

In [12]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
add=['mango','date','papaya']
another_add=('pineapple','orange')
fruits.update(add,another_add)
print(fruits)

{'papaya', 'mango', 'kiwi', 'orange', 'pineapple', 'watermelon', 'date', 'banana', 'cherry', 'apple'}

In [18]:
#remove
fruits={'apple','banana','kiwi','watermelon','cherry'}
fruits.remove('cherry')
print(fruits)

{'kiwi', 'watermelon', 'banana', 'apple'}

In [20]:
#discard
fruits={'apple','banana','kiwi','watermelon','cherry'}
fruits.discard('watermelon')
print(fruits)

{'kiwi', 'banana', 'cherry', 'apple'}

In [24]:
#pop
fruits={'apple','banana','kiwi','watermelon','cherry'}
i=fruits.pop()
print(i)
print(fruits)

kiwi
{'watermelon', 'banana', 'cherry', 'apple'}

In [28]:
#del
fruits={'apple','banana','kiwi','watermelon','cherry'}
del fruits
print(fruits)                              #this will raise an error because the set no longer exists

NameError: ignored

In [29]:
#clear
fruits={'apple','banana','kiwi','watermelon','cherry'}
fruits.clear()
print(fruits)

set()

# *LOOP SETS*

In [31]:
fruits={'apple','banana','kiwi','watermelon','cherry'}
for a in fruits:
  print(a)

kiwi
watermelon
banana
cherry
apple

# *JOIN SETS*

In [37]:
#union
fruits={'apple','banana','kiwi','watermelon','cherry'}
new={'orange','pineapple','date'}
print(fruits.union(new))

{'orange', 'pineapple', 'banana', 'watermelon', 'date', 'kiwi', 'cherry', 'apple'}

In [39]:
#update
fruits={'apple','banana','kiwi','watermelon','cherry'}
new={'orange','pineapple','date'}
fruits.update(new)
print(fruits)

{'kiwi', 'orange', 'pineapple', 'watermelon', 'date', 'banana', 'cherry', 'apple'}

In [43]:
#intersection_update
fruits={'apple','banana','kiwi','watermelon','cherry'}
other_fruits={'kiwi','date','raspberry'}
fruits.intersection_update(other_fruits)
print(fruits)

{'kiwi'}

In [44]:
#intersection
fruits={'apple','banana','kiwi','watermelon','cherry'}
other_fruits={'kiwi','date','raspberry'}
common_elements=fruits.intersection(other_fruits)
print(common_elements)

{'kiwi'}

In [45]:
#symmetric_difference_update
fruits={'apple','banana','kiwi','watermelon','cherry'}
other_fruits={'kiwi','date','raspberry'}
fruits.symmetric_difference_update(other_fruits)
print(fruits)

{'raspberry', 'watermelon', 'date', 'banana', 'cherry', 'apple'}

In [47]:
#symmetric_difference
fruits={'apple','banana','kiwi','watermelon','cherry'}
other_fruits={'kiwi','date','raspberry'}
symmetric_set=fruits.symmetric_difference(other_fruits)
print(symmetric_set)

{'raspberry', 'watermelon', 'date', 'banana', 'cherry', 'apple'}