<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/tupples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits=('apple','banana','orange')
print(fruits)

('apple', 'banana', 'orange')

In [ ]:
fruits=('apple','banana','orange','banana')
print(fruits)

('apple', 'banana', 'orange', 'banana')

In [ ]:
fruits=('apple','banana','orange')
print(len(fruits))

3

In [ ]:
fruits=('apple','banana','orange',)
print(fruits)
print(type(fruits))

flower=('tulip')
print(flower)
print(type(flower))

('apple', 'banana', 'orange')
<class 'tuple'>
tulip
<class 'str'>

In [ ]:
#constructing a tuple
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits)

('apple', 'banana', 'watermelon', 'papaya')

# *ACCESS TUPLE*

In [ ]:
fruits=('apple','banana','watermelon','papaya')
print(fruits[2])

watermelon

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[-2])

watermelon

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[1:4])

('banana', 'watermelon', 'papaya')

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[:3])

('apple', 'banana', 'watermelon')

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[1:])

('banana', 'watermelon', 'papaya')

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[-4:-1])

('apple', 'banana', 'watermelon')

In [ ]:
fruits=tuple(('apple','banana','watermelon','papaya'))
if 'apple' in fruits:
 print("apple is in the list ")
else:
  print("apple is not in the list")

apple is in the list

# *UPDATING TUPLES*

In [7]:
fruits=tuple(('apple','banana','watermelon','papaya'))
updated_fruits=list(fruits)
updated_fruits[1]='kiwi'
print(updated_fruits)
print(tuple(updated_fruits))

['apple', 'kiwi', 'watermelon', 'papaya']
('apple', 'kiwi', 'watermelon', 'papaya')

In [6]:
fruits=('apple','banana','kiwi','watermelon')
updated_fruits=list(fruits)
updated_fruits.append('dragon fruit')
print(tuple(updated_fruits))

('apple', 'banana', 'kiwi', 'watermelon', 'dragon fruit')

In [8]:
#adding a tupple to a tupple
fruits=('apple','banana','kiwi','watermelon')
new_fruit=('dragon fruit',)
fruits+=new_fruit
print(fruits)

('apple', 'banana', 'kiwi', 'watermelon', 'dragon fruit')

In [10]:
#remove
fruits=('apple','banana','kiwi','watermelon')
updated_fruits=list(fruits)
updated_fruits.remove('apple')
print(tuple(updated_fruits))

('banana', 'kiwi', 'watermelon')

In [11]:
#del
fruits=('apple','banana','kiwi','watermelon')
del fruits
print(fruits)                    #this will raise an error because the tuple no longer exists

NameError: ignored

# *UNPACK TUPLES*

In [18]:
#unpacking tuples
fruits=('apple','banana','kiwi','watermelon')
(a,b,c,d)=fruits
print(a,b,c,d)

apple banana kiwi watermelon

In [26]:
fruits=('apple','banana','kiwi','watermelon')
(a,e,i,o)=fruits
print(a, e, i, o)

apple banana kiwi watermelon

In [28]:
#using asterik
fruits=('apple','banana','kiwi','watermelon')
(p,q,*r)=fruits
print(p)
print(q)
print(r)

apple
banana
['kiwi', 'watermelon']

In [31]:
fruits=('apple','banana','kiwi','watermelon','cherry')
(u,*v,w)=fruits
print(u)
print(v)
print(w)

apple
['banana', 'kiwi', 'watermelon']
cherry

# *LOOP TUPLES*

In [32]:
#for loop in tuple
fruits=('apple','banana','kiwi','watermelon','cherry')
for fruit in fruits:
  print(fruit)

apple
banana
kiwi
watermelon
cherry

In [37]:
#for loop in tuple using len
fruits=('apple','banana','kiwi','watermelon','cherry')
for fruit in range(len(fruits)):
  print(fruit,fruits[fruit])

0 apple
1 banana
2 kiwi
3 watermelon
4 cherry

In [42]:
#while loop
fruits=('apple','banana','kiwi','watermelon','cherry')
i=0
while i<len(fruits):
  print(i,fruits[i])
  i=i+1

0 apple
1 banana
2 kiwi
3 watermelon
4 cherry

# *JOIN TUPLES*

In [43]:
fruits1=('apple','banana','kiwi','watermelon','cherry')
fruits2=('raspberry','mango')
num=(1,2,3,4)
print(fruits1+fruits2+num)

('apple', 'banana', 'kiwi', 'watermelon', 'cherry', 'raspberry', 'mango', 1, 2, 3, 4)

In [45]:
#multilpy tuples
fruits=('apple','banana','kiwi','watermelon','cherry')
updated_fruits=fruits*2
print(fruits)
print(updated_fruits)

('apple', 'banana', 'kiwi', 'watermelon', 'cherry')
('apple', 'banana', 'kiwi', 'watermelon', 'cherry', 'apple', 'banana', 'kiwi', 'watermelon', 'cherry')

# *TUPLE METHODS*

In [49]:
#count
numbers=(1,4,2,5,6,3,7,4,8,3,12,4,8,65,546)
print(numbers.count(4))

3

In [51]:
#index
fruits=('apple','banana','kiwi','watermelon','cherry','banana')
print(fruits.index('banana'))                                      #The index() method finds the first occurrence of the specified value.

1