<a href="https://colab.research.google.com/github/BaratamKeerti/python-programs/blob/main/tupples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits=('apple','banana','orange')
print(fruits)

('apple', 'banana', 'orange')

In [2]:
fruits=('apple','banana','orange','banana')
print(fruits)

('apple', 'banana', 'orange', 'banana')

In [3]:
fruits=('apple','banana','orange')
print(len(fruits))

3

In [7]:
fruits=('apple','banana','orange',)
print(fruits)
print(type(fruits))

flower=('tulip')
print(flower)
print(type(flower))

('apple', 'banana', 'orange')
<class 'tuple'>
tulip
<class 'str'>

In [9]:
#constructing a tuple
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits)

('apple', 'banana', 'watermelon', 'papaya')

# *ACCESS TUPLE*

In [10]:
fruits=('apple','banana','watermelon','papaya')
print(fruits[2])

watermelon

In [11]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[-2])

watermelon

In [12]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[1:4])

('banana', 'watermelon', 'papaya')

In [14]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[:3])

('apple', 'banana', 'watermelon')

In [15]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[1:])

('banana', 'watermelon', 'papaya')

In [16]:
fruits=tuple(('apple','banana','watermelon','papaya'))
print(fruits[-4:-1])

('apple', 'banana', 'watermelon')

In [18]:
fruits=tuple(('apple','banana','watermelon','papaya'))
if 'apple' in fruits:
 print("apple is in the list ")
else:
  print("apple is not in the list")

apple is in the list

In [22]:
fruits=tuple(('apple','banana','watermelon','papaya'))
fruit=list(fruits)
fruit[1]='kiwi'
print(fruits)

('apple', 'banana', 'watermelon', 'papaya')